<?xml version="1.0"?>
<launch>
	<node pkg="keyboard_control" type="py_keyboard_control.py" name="summit_sweeper_teleop" output="screen"></node>
	<node pkg="summit_sweeper_horizontal_movement" type="motor_control_sub.py" name="summit_sweeper_horizontal_movement"></node>
	<node pkg="summit_sweeper_stepper_control" type="vertical_control.py" name="summit_sweeper_vertical_control"></node>
	<node pkg="summit_sweeper_vacuum_control" type="vacuum_control_sub.py" name="summit_sweeper_vacuum_control"></node>
</launch>
