<?xml version="1.0"?>
<launch>
	<node pkg="summit_sweeper_run" type="summit_sweeper.py" name="summit_sweeper_main_run" output="screen"></node>
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
		<param name="port" command="map-ports sensors" />
	</node>
	<node pkg="summit_sweeper_horizontal_movement" type="motor_control_sub.py" name="summit_sweeper_horizontal_movement">
		<param name="port" command="map-ports motors" />
	</node>
	<node pkg="summit_sweeper_stepper_control" type="vertical_control.py" name="summit_sweeper_vertical_control"></node>
	<node pkg="summit_sweeper_vacuum_control" type="vacuum_control_sub.py" name="summit_sweeper_vacuum_control"></node>
</launch>